@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&family=Ysabeau+Office:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f7ff;
  color: #312e81;
  font-family: "Ysabeau Office", sans-serif;
  font-size: 28px;
}

h1 {
  font-size: 60px;
  color: #4338ca;
  font-family: "Space Grotesk", sans-serif;
}
