.homepage {
  height: calc(100vh - 5rem);
  margin: 2.5rem;
  padding: 2.5rem 5rem;
}

.homepage section {
  display: flex;
  flex-direction: column;
  /* height: 85%;
  align-items: center;
  justify-content: center;
  gap: 2.5rem; */
}
